# Rust / Cargo
/target
Cargo.lock

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db
*.exe
*.dll
*.so
*.dylib

# Geçici dosyalar ve editör
*.log
*.tmp
.vscode/
.idea/
assets/*.crdownload
*.swp
*~
test.py
ray_test
scratch.rs
demo/scratch.rs
scratch/
.play_backup.scene
araba sahnesi
*.py
tut/test
tut/assets/domino.png
tut/assets/domino_real.png
